{{> profile-navbar}}
<div class="all-content">
    <div class="container-fluid">
        <div>NPM Packages</div>
        <div>Express: https://www.npmjs.com/package/express</div>
        <div>Express-Handlebars: https://www.npmjs.com/package/express-handlebars</div>
        <div>Body Parser: https://www.npmjs.com/package/body-parser</div>
        <div>Mongoose: https://www.npmjs.com/package/mongooser</div>
    </div>
</div>