<nav class="navbar navbar-expand-sm navbar-dark sticky-top navbar-custom">
    <div class="container-fluid justify-content-center">
        <div class="navbar-brand" href="/">
            <img src="https://upload.wikimedia.org/wikipedia/tl/e/ed/DLSU_Logo_Clear_Background.png"> AnimoLab
            Reserve
        </div>
    </div>
</nav>