<nav class="navbar navbar-expand-sm navbar-dark sticky-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://upload.wikimedia.org/wikipedia/tl/e/ed/DLSU_Logo_Clear_Background.png"> AnimoLab
            Reserve</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile/{{email}}">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about/{{email}}">About</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav me-2">
            <li class="nav-item">
                <a class="nav-link signlink" href="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>